@use "../../01subAtoms/subatoms" as *;

.navbar {
  &__horizontal {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0.5em 1em;

    & a {
      margin: 0 .5em;
    }
  }
  &__vertical {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items:flex-start;
    border-radius: 10px;
    padding: 0.5em 1em;

    & a {
      margin: .5em 0;
    }
  }
  &__link {
/*     margin: 0 1em; */
margin: 0;
padding: 0;
    width: fit-content;

    &:hover {
      color: $primaryCol;
      background-color: $primaryCol;
    }

    &:active {
      color: $primaryCol;
      background-color: $primaryCol;
    }
    &:focus {
      color: $primaryCol;
      background-color: $primaryCol;
    }
  }
}
