@use "../01subAtoms/subAtoms" as *;
@use "./box-sizes" as *;

/* SQUARE */
@mixin smallSquareContainer{
    width: $containerSmall;
    @include square;
    object-fit: $fit;
}

@mixin thirdSquareContainer{
    width: $containerThird;
    @include square;
    object-fit: $fit;
}

@mixin medSquareContainer{
    width: $containerMed;
    @include square;
    object-fit: $fit;
}

@mixin halfSquareContainer{
    width: $containerHalf;
    @include square;
    object-fit: $fit;
}

@mixin bigSquareContainer{
    width: $containerBig;
    @include square;
    object-fit: $fit;
}

@mixin fullSquareContainer{
    width: $containerFull;
    @include square;
    object-fit: $fit;
}

/* FOUR THREE */


@mixin smallFourThreeContainer{
    width: $containerSmall;
    @include fourThree;
    object-fit: $fit;
}

@mixin thirdFourThreeContainer{
    width: $containerThird;
    @include fourThree;
    object-fit: $fit;
}

@mixin medFourThreeContainer{
    width: $containerMed;
    @include fourThree;
    object-fit: $fit;
}

@mixin halfFourThreeContainer{
    width: $containerHalf;
    @include fourThree;
    object-fit: $fit;
}

@mixin bigFourThreeContainer{
    width: $containerBig;
    @include fourThree;
    object-fit: $fit;
}

@mixin fullFourThreeContainer{
    width: $containerFull;
    @include fourThree;
    object-fit: $fit;
}

@mixin smallThreeFourContainer{
    width: $containerSmall;
    @include threeFour;
    object-fit: $fit;
}

@mixin thirdThreeFourContainer{
    width: $containerThird;
    @include threeFour;
    object-fit: $fit;
}

@mixin medThreeFourContainer{
    width: $containerMed;
    @include threeFour;
    object-fit: $fit;
}

@mixin halfThreeFourContainer{
    width: $containerHalf;
    @include threeFour;
    object-fit: $fit;
}

@mixin bigThreeFourContainer{
    width: $containerBig;
    @include threeFour;
    object-fit: $fit;
}

@mixin fullThreeFourContainer{
    width: $containerFull;
    @include threeFour;
    object-fit: $fit;
}




@mixin smallSixteenNineContainer{
    width: $containerSmall;
    @include sixteenNine;
    object-fit: $fit;
}

@mixin thirdSixteenNineContainer{
    width: $containerThird;
    @include sixteenNine;
    object-fit: $fit;
}

@mixin medSixteenNineContainer{
    width: $containerMed;
    @include sixteenNine;
    object-fit: $fit;
}

@mixin halfSixteenNineContainer{
    width: $containerHalf;
    @include sixteenNine;
    object-fit: $fit;
}

@mixin bigSixteenNineContainer{
    width: $containerBig;
    @include sixteenNine;
    object-fit: $fit;
}

@mixin fullSixteenNineContainer{
    width: $containerFull;
    @include sixteenNine;
    object-fit: $fit;
}



@mixin smallNineSixteenContainer{
    width: $containerSmall;
    @include nineSixteen;
    object-fit: $fit;
}

@mixin thirdNineSixteenContainer{
    width: $containerThird;
    @include nineSixteen;
    object-fit: $fit;
}

@mixin medNineSixteenContainer{
    width: $containerMed;
    @include nineSixteen;
    object-fit: $fit;
}

@mixin halfNineSixteenContainer{
    width: $containerHalf;
    @include nineSixteen;
    object-fit: $fit;
}

@mixin bigNineSixteenContainer{
    width: $containerBig;
    @include nineSixteen;
    object-fit: $fit;
}

@mixin fullNineSixteenContainer{
    width: $containerFull;
    @include nineSixteen;
    object-fit: $fit;
}




@mixin smallRoundContainer {
    width: $containerSmall;
    @include square;
    object-fit: $fit;
    border-radius: 50%;
}

@mixin thirdRoundContainer {
    width: $containerThird;
    @include square;
    object-fit: $fit;
    border-radius: 50%;
}

@mixin medRoundContainer {
    width: $containerMed;
    @include square;
    object-fit: $fit;
    border-radius: 50%;
}

@mixin halfRoundContainer {
    width: $containerHalf;
    @include square;
    object-fit: $fit;
    border-radius: 50%;
}

@mixin bigRoundContainer {
    width: $containerBig;
    @include square;
    object-fit: $fit;
    border-radius: 50%;
}

@mixin fullRoundContainer {
    width: $containerFull;
    @include square;
    object-fit: $fit;
    border-radius: 50%;
}

@mixin buttonBase {
    /* width: $containerBig;
    aspect-ratio: $square; */
    border-radius: $border-radius;
}

@mixin formBase {
    width: $containerBig;
}

@mixin inputFieldBase {
    width: $containerBig;
}