@use "../01subAtoms/subAtoms" as *;



/* SIZE */
$containerMini : calc($size / 2);
$containerSmall : calc($size * 2);
$containerHalf : 50vw;
$containerThird : 30vw;
$containerMed : $size * 8;
$containerBig : $size * 32;
$containerEnorm : $size * 64;

/* ASPECT RATIO */

@mixin square {
    aspect-ratio: 1 / 1;
}

@mixin fourThree {
    aspect-ratio: 4 / 3;
}

@mixin sixteenNine {
    aspect-ratio: 16 / 9;
}

@mixin threeFour {
    aspect-ratio: 3 / 4;
}

@mixin nineSixteen {
    aspect-ratio: 9 / 16;
} 
    
/* CONTENT */

$fit: cover;