/* @use "typography" as *; */
@use "../02atoms/typography" as *;
@use "../01subAtoms/subatoms" as *;

.page-title {
  @include h1;
  text-align: center;
}

.hero__title {
  text-align: center;
  @include h1;
}

.article-title {
  @include h2;
}

.section-title {
  @include h3;
}

.headline {
  @include h4;
}

.group-title {
  @include h4;
}

.subheadline {
  @include h5;
}

.body {
  font-weight: 400;
  @include p;
}

.clossure{
  @include h3
}

.bold {
  font-weight: 700;
  @include p;
}

.byline {
  font-weight: 700;
  @include p;
}

.callout {
  position: absolute;
  font-weight: 400;
  @include p;
}

.footnote {
  font-weight: 200;
  @include p;
}

.quote {
  font-style: italic;
  @include p;
}

.blockquote {
  font-style: italic;
  font-weight: 700;
  @include p;
}

.option {
  @include p;
}

li {
  padding: 0;
  margin: 0;
  text-align: left;
  &::before {
    content: "* ";
  }
  @include p;
}


.list-title {
  @include h3
}
.date {
  @include p;
}

.link {
  @include p;
  text-decoration: none;
  background-color: transparent;
}

.button {
  @include p;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}

p {
  @include p;
}

a{
  @include p;
  text-decoration: none;
}

label {
  @include label-style;
}

select {
  @include label-style;
}

textarea {
  @include label-style;
}

figcaption {
  @include label-style;
}

li {
  @include label-style;
}

option {
  @include label-style;
}

input {
  font-family: $mainFont;
  font-size: clamp(2rem, 4vw, 2.4rem);
  font-weight: 400;
  color: $primaryCol;
  line-height: 1.6em;
  border: none;
}

code {
  @include code-style;
}

kbd {
  @include code-style;
}

samp {
  @include code-style;
}

sub {
  @include sub-sup;
  bottom: -0.25em;
}

sup {
  @include sub-sup;
  top: -0.5em;
}

*::selection {
  color: $compCol;
}
