@use "../01subAtoms/subatoms" as *;

@mixin h1 {
  font-family: $mainFont;
  font-size: $f6;
  font-weight: 700;
  color: $primaryCol;
  line-height: 1.2em;
  margin-bottom: 0.5em;
}

@mixin h2 {
  font-family: $mainFont;
  font-size: $f6;
  font-weight: 400;
  color: $primaryCol;
  line-height: 1.2em;
  margin-bottom: 0.5em;
}

@mixin h3 {
  font-family: $mainFont;
  font-size: $f5;
  font-weight: 400;
  color: $primaryCol;
  line-height: 1.6em;
  margin-bottom: 0.5em;
}

@mixin h4 {
  font-family: $mainFont;
  font-size: $f3;
  font-weight: 700;
  color: $primaryCol;
  line-height: 1.6em;
  margin-bottom: 0.5em;
}

@mixin h5 {
  font-family: $mainFont;
  font-size: $f3;
  font-weight: 700;
  color: $primaryCol;
  line-height: 1.6em;
  margin-bottom: 0.5em;
}

@mixin p {
  font-family: $mainFont;
  font-size: $f3;
  color: $primaryCol;
  line-height: 1.9em;
  margin-bottom: 0.5em;
  max-width: 75ch;
}


@mixin label-style {
  font-family: $mainFont;
  font-size: $f3;
  font-weight: 400;
  color: $primaryCol;
  line-height: 1.6em;
  margin-bottom: 0.5em;
  border: none;
}

@mixin input {
  font-family: $mainFont;
  font-size: $f3;
  font-weight: 400;
  color: $primaryCol;
  line-height: 1.6em;
  border: none;
}

@mixin img {
  font-family: $mainFont;
  font-size: $f1;
  font-weight: 200;
  color: $primaryCol;
}


@mixin blockquote {
  font-family: $mainFont;
  font-size: $f3;
  font-weight: 700;
  font-style: italic;
  color: $primaryCol;
  line-height: 0.8em;
  margin-bottom: 0.5em;
  text-align: center;
  max-width: 75ch;
  min-width: 45ch;
  ::before {
    content: '"';
  }
  ::after {
    content: '"';
  }
}

@mixin code-style {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

@mixin sub-sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

*::selection {
  color: $compCol;
}

