@use "../01subAtoms/colors" as *;
@use "./border-radius" as *;

@mixin borderThin {
  border: 0.5px solid $grey1;
  border-radius: $border-radius;
}

@mixin borderMed {
  border: 3px solid $grey1;
  border-radius: $border-radius;
}

@mixin borderThick {
  border: 5px solid $grey1;
  border-radius: $border-radius;
}
