@use "_colorCalculator" as *;
@use "hue" as *;

$black: hsl($hue, $sat, $lux);
$grey1: hsl($hue, $sat, $lux1);
$grey2: hsl($hue, $sat, $lux2);
$grey3: hsl($hue, $sat, $lux3);
$white: hsl($hue, $sat, 100%);

$primaryCol: hsl($hue, 0%, $lux2);
$primaryColMuted: hsl($hue, $sat1, $lux2);
$primaryColSat: hsl($hue, $sat3, $lux2);
$primaryColLight: hsl($hue, $sat2, $lux3);
$primaryColDark: hsl($hue, $sat2, $lux1);

$compCol: hsl($complementary, $sat2, $lux2);
$compColMuted: hsl($complementary, $sat1, $lux2);
$compColSat: hsl($complementary, $sat3, $lux2);
$compColLight: hsl($complementary, $sat2, $lux3);
$compColDark: hsl($complementary, $sat2, $lux1);

$an1Col: hsl($analogue1, $sat2, $lux2);
$an1ColMuted: hsl($analogue1, $sat1, $lux2);
$an1ColSat: hsl($analogue1, $sat3, $lux2);
$an1ColLight: hsl($analogue1, $sat2, $lux3);
$an1ColDark: hsl($analogue1, $sat2, $lux1);

$an2Col: hsl($analogue2, $sat2, $lux2);
$an2ColMuted: hsl($analogue2, $sat1, $lux2);
$an2ColSat: hsl($analogue2, $sat3, $lux2);
$an2ColLight: hsl($analogue2, $sat2, $lux3);
$an2ColDark: hsl($analogue2, $sat2, $lux1);

$triadic1Col: hsl($triadic1, $sat2, $lux2);
$triadic1Muted: hsl($triadic1, $sat1, $lux2);
$triadic1Sat: hsl($triadic1, $sat3, $lux2);
$triadic1Light: hsl($triadic1, $sat2, $lux3);
$triadic1Dark: hsl($triadic1, $sat2, $lux1);

$triadic2Col: hsl($triadic2, $sat2, $lux2);
$triadic2Muted: hsl($triadic2, $sat1, $lux2);
$triadic2Sat: hsl($triadic2, $sat3, $lux2);
$triadic2Light: hsl($triadic2, $sat2, $lux3);
$triadic2Dark: hsl($triadic2, $sat2, $lux1);