@use "../01subAtoms/subAtoms" as *;

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5vh 5vw;
  background-color: $primaryColMuted;
  &__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 10vw;
  }
}
