@use "../01subAtoms/subAtoms" as *;

.header {
  padding: 1.5vh 5vw;
  background-color: $grey3;
  
  &__up{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title{
    color: $primaryColDark;
    font-size: $f4;
  }
}
