@use "../../01subAtoms/subatoms" as *;

.carousel {
  &__container {
    /* background-color: $primaryCol; */
    width: 80%;
    height: 30vh;
    overflow: hidden;
    display: flex;
  }

  &__img {
    height: 30vh;
    width: 30vh;
    object-fit: cover;
    /* outline: 5px solid $primaryCol; */
  }

  &__dot {
    width: 10px;
    height: 10px;
    background-color: $white;
    @include borderThin;
    margin: 0 5px;
  }

  &__dots-container {
    display: flex;
    position: relative;
    top: 25vh;
    right: 42%;
  }
}
