.hero {
  display: flex;
  flex-direction: column;
  width: fit-content;

  &__content {
    z-index: 100;
    position: relative;
    top: 20vh;
    left: 20vw;
    background-color: white;
    padding: 3em;
  }
}
