@use "../../01subAtoms/subatoms" as *;

.breadcrumb {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2em;
  }

  &__element {
    margin: 0 0.25em;
  }

  &__element::before {
    content: "/";
    margin-right: 0.75em;
  }
}
