@use "../01subAtoms/subAtoms" as *;
@media screen and (min-width: 600px) {
  .hero {
    flex-direction: row;

    &__img {
      width: 50%;
    }

    &__text {
      width: 50%;
    }
  }

  .card {
    width: 50vw;
  }
}
