@use "../01subAtoms/subAtoms" as *;

.btn {
  :hover {
    color: $white;
    background-color: $primaryCol;
  }

  :active {
    color: $white;
    background-color: $grey1;
  }

  :focus {
    color: $white;
    background-color: $black;
  }
}

a {
  :hover {
    color: $white;
    background-color: $primaryCol;
  }
  :active {
    color: $white;
    background-color: $grey1;
  }
  :focus {
    color: $white;
    background-color: $black;
  }
}
