@use "../01BasicDefinitions/basicDefinitions" as *;
.iconSmall {
  width: 30px;
  height: 30px;
  color: $grey1;
}
.iconMed {
  width: 55px;
  height: 55px;
  color: $grey1;
}
.iconBig {
  width: 80px;
  height: 80px;
  color: $grey1;
}
