@use "./boxes" as *;

.hero__image{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    position: absolute;
}

.small-squareImage{
    @include smallSquareContainer
}

.third-squareImage{
    @include thirdSquareContainer
}

.med-squareImage{
    @include medSquareContainer
}

.half-squareImage{
    @include halfSquareContainer
}

.big-squareImage{
    @include bigSquareContainer
}

.full-squareImage{
    @include fullSquareContainer
}

.small-43Image{
    @include smallFourThreeContainer
}

.third-43Image{
    @include thirdFourThreeContainer
}

.med-43Image{
    @include medFourThreeContainer
}

.half-43Image{
    @include halfFourThreeContainer
}

.big-43Image{
    @include bigFourThreeContainer
}

.full-43Image{
    @include fullFourThreeContainer
}

.small-34Image{
    @include smallThreeFourContainer
}

.third-34Image{
    @include thirdThreeFourContainer
}

.med-34Image{
    @include medThreeFourContainer
}

.half-34Image{
    @include halfThreeFourContainer
}

.big-34Image{
    @include bigThreeFourContainer
}

.full-34Image{
    @include fullThreeFourContainer
}

.small-69Image{
    @include smallSixteenNineContainer
}

.third-69Image{
    @include thirdSixteenNineContainer
}

.med-69Image{
    @include medSixteenNineContainer
}

.half-69Image{
    @include halfSixteenNineContainer
}

.big-69Image{
    @include bigSixteenNineContainer
}

.full-69Image{
    @include fullSixteenNineContainer
}

.small-96Image{
    @include smallNineSixteenContainer
}

.third-96Image{
    @include thirdNineSixteenContainer
}

.med-96Image{
    @include medNineSixteenContainer
}

.half-96Image{
    @include halfNineSixteenContainer
}

.big-96Image{
    @include bigNineSixteenContainer
}

.full-96Image{
    @include fullNineSixteenContainer
}

.small-roundImage{
    @include smallRoundContainer
}

.third-roundImage{
    @include thirdRoundContainer
}

.med-roundImage{
    @include medRoundContainer
}

.half-roundImage{
    @include halfRoundContainer
}

.big-roundImage{
    @include bigRoundContainer
}

.full-roundImage{
    @include bigRoundContainer
}

@mixin cardRoundImg {
    @include thirdRoundContainer
}