@use "../../01subAtoms/subAtoms" as *;
@use "../../02atoms/atoms" as *;

.btn {

  display: grid;
  place-content: center;
  border: none;
  transition: $transitionDuration;
  width: clamp(160px, 2vw ,200px);
  padding: 0.25em 0.5em;
  /* margin: 1em 0; */
  @include buttonBase;
  @include p;
}
