$shMargin: 2.5px;
$shSquare: calc($shMargin * 4);
$shLine: cal($shMargin * 8);

@mixin shortSquare {
    height: 7.5px;
    width: 7.5px;
    margin: 5px;
}

@mixin shortLine {
    height: 5px;
    width: 40px;
    margin: 5px;
}