@use '../../01subAtoms/subAtoms' as *;

.altBurger {
  &__container--rest {
    width: fit-content;
    outline: 1px solid red;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__up--rest {
    @include shortLine;
    background-color: $grey1;
  }
  &__med--rest {
    display: none;
  }
  &__down--rest {
    @include shortLine;
    background-color: $grey1;
  }
  &__right--rest{
    display: none
  }
  &__left--rest{
    display: none
  }
  &__container--rest {
    width: fit-content;
  }

  &__container--active {
    width: fit-content;
    outline: 1px solid red;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__up--active {
    @include shortLine;
    background-color: $grey1;
    transform: translate(50deg);
  }

  &__med--active{
    display: none;
  }
  &__down--active {
    @include shortLine;
    background-color: $grey1;
    transform: translate(50deg);
  }
  &__center--active {
    display: none;
  }
  &__right--active {
    display: none;
  }
  &__left--active {
    display: none;
  }
}
