@use '../../01subAtoms/subAtoms' as *;
.doener {
  &__container--rest {
    width: fit-content;
    outline: 1px solid red;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__up--rest {
    @include shortLine;
    background-color: $grey1;
  }
  &__med--rest {
    width: 30px;
    height: 5px;
    margin: 5px;
    background-color: $grey1;
  }
  &__down--rest {
    width: 20px;
    height: 5px;
    margin: 5px;
    background-color: $grey1;
  }
  &__left--rest {
    display: none;
  }
  &__right--rest {
    display: none;
  }

  &__container--active {
    width: fit-content;
    outline: 1px solid red;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__up--active {
    width: 30px;
    height: 5px;
    margin: 5px;
    background-color: $grey1;
  }

  &__med--active {
    width: 30px;
    height: 5px;
    margin: 5px;
    background-color: $grey1;
  }

  &__down--active {
    display: none;
  }
  &__right--active {
    display: none;
  }
  &__left--active {
    display: none;
  }
  &__down--active {
    display: none;
  }
}
