@use '../../01subAtoms/subAtoms' as *;

.meatball {
  &__container--rest {
    width: fit-content;
  }
  &__up--rest {
    display: none;
  }
  &__med--rest{
    display: flex;
  }
  &__down--rest {
    display: none;
  }

  &__left--rest {
    @include shortSquare;
    background-color: $grey1;
  }
  &__center--rest {
    @include shortSquare;
    background-color: $grey1;
  }
  &__right--rest {
    @include shortSquare;
    background-color: $grey1;
  }

  &__up--active {
    display: none;
  }
  &__right--active {
    display: none;
  }
  &__center--active {
    width: $shSquare;
    height: $shSquare;
    background-color: $grey1;
    margin: $shMargin;
  }
  &__left--active {
    display: none;
  }
  &__down--active {
    display: none;
  }
}
